<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.com.nerfo.myroutinegym">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.Principal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.GrupoUno" />
        <activity android:name=".view.GrupoDos" />
        <activity android:name=".view.GrupoTres" />
        <activity android:name=".view.Ejercicios" />
        <activity android:name=".view.RegistrarEjercicio"></activity>
    </application>

</manifest>